.button-start
  text-transform uppercase
  cursor pointer
  transition all 0.5s
  display inline-block
  padding 12px 35px
  border 1px solid #ffe6a9
  border-radius 6px
  color #ffe6a9
  background #283877
  position absolute
  left 50%
  bottom 70px
  transform translateX(-50%)

  &:hover
    background #ffe6a9
    color #283877
    border-color #283877
