.player-info
  width 100%
  height 100px
  padding-top 20px
  padding-left 30px
  background #bb9a77
  color #ffe6a9
  font-size 24px

.player-score
  margin-bottom 13px

.player-cash-currency
  background-image url("/assets/images/graine.png")
  background-size contain
  background-repeat no-repeat
  display inline-block
  width 20px
  height 20px
