.tower
  padding-left 10px
  margin 20px
  cursor pointer
  border 1px solid transparent
  border-radius 6px

  &:hover
    border-color #bb9a77

  &-icon
    width 60px
    height @width
    display block

  h3
    text-transform uppercase
    font-size 15px
    margin 3px 0

  li
    line-height 1.3
