/*----------------------------------------------------------------------
    MIXINS & EXTENDS
----------------------------------------------------------------------*/
@import "../../node_modules/stylus-reset"
@import "../../node_modules/brindille-stylus-extends"

/*----------------------------------------------------------------------
    BASE
----------------------------------------------------------------------*/
reset()

html
  @extend .full-size
  background black
  color default-color
  overflow-x hidden
  overflow-y scroll

body
  @extend .full-size
  background-color #ba864c

#view
  height 100%
  position absolute
  right 0
  top 0
  // background white
  z-index 10
  width calc(100% - 1025px)
  color #bb9a77

canvas
  display block

/*----------------------------------------------------------------------
    HOME
----------------------------------------------------------------------*/

.step
  display none
  &.active
    display block

  &-one
    @extend .full-size
    position fixed
    z-index 15
    background url('/assets/images/versus.png')
    background-size cover
    background-position 0 90%

.pseudo.error
  border 1px solid red

.error-message
  color red
  display none
  &.active
    display block

/*----------------------------------------------------------------------
    COMPONENTS
----------------------------------------------------------------------*/
@import "./components/**/*"
