/*----------------------------------------------------------------------
    MIXINS & EXTENDS
----------------------------------------------------------------------*/
@import "../../node_modules/stylus-reset"
@import "../../node_modules/brindille-stylus-extends"

/*----------------------------------------------------------------------
    BASE
----------------------------------------------------------------------*/
@import "./config/**/*"
reset()

html
  @extend .full-size
  background black
  color default-color
  overflow-x hidden
  overflow-y scroll

body
  @extend .full-size

#view
  height 100%
  position absolute
  right 0
  top 0
  background skyblue

canvas
  display block
  // margin 0 auto


/*----------------------------------------------------------------------
    HOME
----------------------------------------------------------------------*/

.step
  display none
  &.active
    display block

.pseudo.error
  border 1px solid red

.error-message
  color red
  display none
  &.active
    display block

/*----------------------------------------------------------------------
    COMPONENTS
----------------------------------------------------------------------*/
@import "./components/**/*"
